{% extends 'axf/base.html' %}

{% load static from staticfiles %}
{% block linkscript %}
    <link rel="stylesheet" type="text/css" href="{% static 'market/css/market.css' %}"/>
    <script type="text/javascript" src="{% static 'market/js/market.js' %}"></script>
{% endblock linkscript %}




{% block base %}
<div id="market"
    <!--侧边栏  大类分组-->
    <aside>
        <menu>
            <ul>
                {% for item in leftSlider %}
                <li>
                    <span class="yellowSlide"></span>
{#                    <a href="/market/{{ item.typeid }}/0/0">{{ item.typename }}</a>#}
                    <a href="{% url 'axf:market' item.typeid  0 0 %}">{{ item.typename }}</a>
                </li>
                {% endfor %}
            </ul>
        </menu>
    </aside>


    <section>
        <!--右侧的导航栏---（全部类型、综合排序）-->
        <nav>
            <ul>
                <li>
                    <span>全部类型
                        <span id="alltypebtn" class="glyphicon glyphicon-chevron-down" ></span>
                    </span>
                </li>
                <li>
                    <span>综合排序
                        <span id="showsortbtn" class="glyphicon glyphicon-chevron-down" ></span>
                    </span>
                </li>
            </ul>
        </nav>

        <!---右侧导航栏下---所有商品信息-->
        <menu>
            <ul>
                {% for item in productList %}
                <li>
                    <a href="#">                    <!--显示单个商品的所有信息-->
                        <img src="{{ item.productimg }}">
                        <!--商品信息  p(段落） article（一个独立文本） span(着色) s（不正确文本标记）-->
                        <article class="shoppingInfo">
                            <h6>{{ item.productlongname }}</h6>
                            <p class="detailTag">                           <!--商品信息-->
                                <span>精选</span><span>{{ item.pedesc }}</span>
                            </p>
                            <span class="unit">{{ item.specifics }}</span>  <!--商品规格-->
                            <p class="price">                                <!--商品价格-->
                                <span>¥{{ item.price }}</span>
                                <s><span>¥{{ item.marketprice }}</span></s>
                            </p>
                        </article>
                    </a>

                    <!--加减号 用以添加购物车-->
                    <section>
                        <button ga="{{ item.productid }}" class="subShopping">-</button>
                        <span id="{{ item.productid }}">{{ item.ppnum }}</span>
                        <button ga="{{ item.productid }}" class="addShopping">+</button>
                    </section>
                </li>
                {% endfor %}
            </ul>


            <div id="typediv">
                <div>
                    {% for item in childList %}
                    <a href="/market/{{ categoryid }}/{{ item.childId }}/0/"><span>{{ item.childName }}</span></a>
                    {% endfor %}
                </div>
            </div>

            <div id="sortdiv">
                <div>
                    <a href="/market/{{ categoryid }}/{{ cid }}/0/" class="sorta"><span>综合排序</span></a>
                    <a href="/market/{{ categoryid }}/{{ cid }}/1/" class="sorta"><span>销量排序</span></a>
                    <a href="/market/{{ categoryid }}/{{ cid }}/2/" class="sorta"><span>价格最低</span></a>
                    <a href="/market/{{ categoryid }}/{{ cid }}/3/" class="sorta"><span>价格最高</span></a>
                </div>
            </div>
        </menu>
    </section>




</div>

{% endblock base %}



